*{
    margin: 0;
    padding: 0;
}
:root{
    --blue:blue;
    --black:#000;
    --white:#fff;
    --yellow:#dddd27ab;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
.main{
    background-color: var(--yellow);
    width: 30%;
    height: 70vh;
    text-align: center;
}
.main h1{
    margin: 20px 0px;
    color: var(--black);
    font-size: 36px;
    font-weight: bold;
}
.form{
    background-color: var(--white);
    width: 85%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}
label{  
    color: red;
    font-size: 16px;
}
.form input{
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    background-color: transparent;
}
input:focus{
    border: none;
    outline: none;
}
.form button{
    background-color: var(--blue);
    font-size: 18px;
    border: none;
    color: var(--white);
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}
#todolist{
    width: 80%;
    margin: 15px auto;
    line-height: 1.5rem;
}
#todolist p{
    cursor: pointer;
    text-align: left!important;
    font-size: 20px;
}